# SPDX-License-Identifier: GPL-2.0-or-later

# Source the JTAG interface configuration file
source [find interface/esp_usb_jtag.cfg]
# Source the ESP32-S3 configuration file
source [find target/esp32s3.cfg]

# Force hardware breakpoints
gdb breakpoint_override hard

# Tell OpenOCD exactly where the Zephyr app starts
# By default, Zephyr for ESP32 starts the app at 0x10000
set ESP_FLASH_APP_OFF 0x10000

# Attach Zephyr RTOS Awareness
esp32s3.cpu0 configure -rtos Zephyr

# Speed optimization for the S3FN8
adapter speed 20000